[Unit]
Description=Simple random DNS, HTTP/S internet traffic noise generator

[Service]
User=noisier
WorkingDirectory=/opt/noisier
ExecStart=/usr/bin/python /opt/noisier/noisier.py --config /opt/noisier/config.json

[Install]
WantedBy=multi-user.target
